.bg-red-ad {
    background-color: #b71248;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    /* color: white; */
    padding: 20px 0;
}










/* !"DEBUG" DA ELIMINARE TERMINATO IL CODICE*/
.debug {
    background-color: rgba(0, 102, 255, 0.5);
    border: 1px solid #000;
}