.bg-red-ad {
    background-color: #b71248;
}

.bg-gray-ad {
    background-color: gray;
}

.bg-lightgray-ad {
    background-color: lightgray;
}

.color-red-ad {
    color: #b71248;
}

.border-red-ad {
    border: 2px solid #b71248;
}

.border-gray-ad {
    border: 1px solid gray;
}

.w-60 {
    width: 60%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

h4 {
    text-transform: uppercase;
}

#btn-1:hover, #btn-2:hover  {
background-color: gray;
border: 2px solid orange;
padding: 5px 11px;
}


#toggleTicket .row .col {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}






