.bg-red-ad {
    background-color: #b71248;
}

.bg-gray-ad {
    background-color: gray;
}

.color-red-ad {
    color: #b71248;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0;
}

h4 {
    text-transform: uppercase;
}

#toggleTicket .row .col {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}






